/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #000000, #470188, #270042);
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
}
/* Main Page Container */
.lpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1.5rem;
    text-align: center;
    /* background: linear-gradient(to bottom right, #000000, #2c2c54); */
}

/* SVG Logo Styling */
#svg {
    height: 300px;
    width: 300px;
    stroke: #fdf6e3;
    fill-opacity: 0;
    stroke-width: 5px;
    stroke-dasharray: 4500;
}

/* Logo Text Styling */
.logoname {
    color: #fdf6e3;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    /* text-shadow: 0px 0px 7px #eae3b9; */
    padding-left: 15px;
}
.logoname:hover {
    color: #821de0;
    text-shadow: 0px 0px 15px #ebd972;
}
/* Additional Text (Optional) */
/* 
.main p {
    position: absolute;
    padding-top: 250px;
    text-align: center;
    font-size: 450px;
    color: #fdf6e3;
    -webkit-text-stroke: 2px rgb(19, 201, 201);
    text-shadow: 0px 0px 50px rgb(68, 61, 61);
} */
 
